/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:any-link {
	text-decoration: none;
	color: inherit;
}

/* Custom Fonts */
@font-face {
	font-family: 'Retro';
	src: url(./fonts/Sabo-Regular.otf);
}
/* General */

/* Blocks */
body {
	background-image: url(./video/mixkit-yellow-northern-lights-in-norway-4036-medium.mp4);
	/* background-image: url(https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif); */
	background-size: cover;
	color: whitesmoke;
}
video {
	/* filter:blur(3px); */
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}
main {
	display: flex;
	flex-direction: column;
}

header {
	color: rgb(199, 158, 252);
	align-self: center;
	margin: 1rem;
	padding: 1rem;
	font-size: 10vh;
	font-family: 'Retro', sans-serif;
}

footer {
	font-family: 'Retro', sans-serif;
	position: fixed;
	padding: 1rem;
	margin: 1rem;
	bottom: 0;
	right: 0;
	font-size: 3vh;
}
/* Classes */

.grid-container {
	align-self: center;
	display: flex;
	justify-content: center;
	padding: 1rem;
	position: relative;
}

.grid {
	position: absolute;
	width: 55vw;
	height: 50vh;
	border: solid 2px rgb(212, 194, 254);
}

.block {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: rgb(84, 153, 243);
}

.user{
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: rgb(206, 140, 228);
}

.ball{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}

/* Toggle Switch */

.toggle {		
	cursor: pointer;
	display: inline-block;
	position: fixed;
	bottom: 0rem;
	color:rgb(206, 140, 228);
	padding: 1rem;
	margin: 1rem;
	font: 3vh 'Retro', sans-serif;
}

.toggle-switch {
  display: inline-block;
  background: rgb(225, 91, 91);
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25); */
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5); */
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}